<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeySprint - Home</title>
    <link rel="stylesheet" href="/css/kshome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bungee&family=Jersey+15&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="total_container">
        <div class="navbar">
            <h1>QUIZ CODE QUEST</h1>
            <p>Let's see how fast you are...</p> 
        </div>

        <div class="game_space">
            <button onclick="navigate('/quiz')">
                PLAY
            </button>
            <button>
                SCORE
            </button>
            <button>
                LEADERBOARD
            </button>
            <button onclick="navigate('/main')">
                QUIT
            </button>

        </div>

        <footer>
            <div class="footer-content">
                <h3>TechArcade</h3>
                <p>made with love</p>
                <ul class="socials">
                    <li><img src="/images/instagram.png" class="social"></li>
                    <li><img src="/images/social.png" class="social"></a></li>
                    <li><img src="/images/linkedin.png" class="social"></a></li>
                    <li><img src="/images/twitter.png" class="social"></a></li>
                    
                </ul>
            </div>
            <div class="footer-bottom">
                    <p>copyright &copy;2024 TechArcade.</p>
        </footer>
    </div>
    

    <script src="/js/kshome.js"></script>
</body>
</html>